@tailwind base;
@tailwind components;
@tailwind utilities; 
 
 
 
 * {
     margin: 0;
     padding: 0;
     scroll-behavior: smooth;
     scroll-snap-type: proximity;
     
 }



:root {
  --primary-color: #3498db; /* A shade of blue */
  --secondary-color: #14aa00; /* A shade of green */
  --accent-color: #e74c3c; /* A shade of red */
  --background-color: #000000; /* Light gray background */
  --text-color: #033b01af;
  --text-heading:  "Orbitron", sans-serif;
  --text-heading2:"Black Ops One", system-ui; 
  --secPadding: 60px 0px;
}

 /* Body styling
 body {
    background-image: url(../images/joel-filipe-VuwAfoHpxgs-unsplash.jpg);
    background-attachment: fixed;
    background-color: #000000;
    backdrop-filter: blur(50px);
    background-size: c;
    background-repeat: no-repeat;
    background-position: center;
} */

 /* Navbar styling */
 .navbar {
     padding: 6px 0;
     background-color: #000000b0;
     box-shadow: 0 10px 10px rgba(0, 0, 0, 0.37);
     backdrop-filter: blur(8px);
     top: 0;
     margin: 10px 25px;
     border-radius: 3px;
     height: 100px;

 }

 .nav-toggle{
    padding: 0px 10px;
    margin-left: 20px !important;
    background-color:transparent !important;

 }

 .navlink {
     color: #ffffff;
     text-decoration: none;
     padding: 7px 5px;
     transition: 0.6s ease;
     font-weight: 600;
     font-family: var(--text-heading);
     border-bottom: 3px solid rgba(0, 0, 0, 0);
     font-size: 15px;
 }

 .navlink:hover {
     color: #ffffff;
     border-bottom: 3px solid yellow;
 }
.nav2{
    text-align: center;
}
 .imglog {
     width: 8rem;
 }

 /* button  */
.nbutton {
     background-color: var(--background-color);
     color: var(--secondary-color);
     text-decoration: none;
     padding: 6px 10px;
     font-weight: 600;
     font-family: var(--text-heading);
     transition: all 0.8s ease;
     cursor: pointer;
     text-align: center;
     border: 2px solid black;
     border-radius: 2px;
     width: 200px;
 }

 .nbutton:hover {
     color: var(--secondary-color);
     background-color: white;
 }


/* INPUT */



.main-form .main-custom-input {
    border-radius: 0px;
    padding: 10px;
    border-radius: 0px;
    transition: border-color 0.3s ease;
  }
  
  .main-form .main-custom-input:focus {
  
    border: 1px solid #000000;
    box-shadow: 0 0 0 0.2rem rgba(51, 255, 0, 0.377);
  
  }



 /* ICON */

 
 .icon {
    margin-bottom: 18px;
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.icon .icon2 {
    padding: 0px 17px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    color: rgb(122, 122, 122);
}

.icon2:hover {
    color: rgb(202, 202, 202);
    transform: scale(1.8);
}

/* HEADINGS */
.heading{
    color: var(--secondary-color);
    font-size: 50px;
    font-family: var(--text-heading);
    font-weight: 800;
    padding: 60px 0px;
}


 /* Contact form styling */
 .contact2 {
     width: 800px;
 }

 .cForm {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     text-align: center;
     border-radius: 10px;  
 }


 .cinput .custom-input{
    border-radius: 0px;
    padding: 10px; 
    border-radius: 0px;
    transition: border-color 0.3s ease; 
    
  }

  .cinput .custom-input:focus{
    border: 1px solid #000000; 
    box-shadow: 0 0 0 0.2rem rgba(51, 255, 0, 0.377);
  }





 /* Hero section styling */
 
 .hhero{
    background-image: url(../images/hero.jpg);  
     background-size: cover;
     background-attachment: fixed;
     animation: zoomInOut 12s infinite;
    
 }

 @keyframes zoomInOut {
    0% {
        background-size: 100%; 
    }
    50% {
        background-size: 120%; 
    }
    100% {
        background-size: 100%; 
    }

}
 .hero {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     padding: 2% 10%;
     
 }

 .hero-box {
     width: 100%;
     height: 90vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color: white;
     margin-top: 0px;
 }

 .himg2 {
     position: absolute;
 }

 .himg2 .imglog {
     width: 1000px;
     align-items: center;
     text-align: center;
     opacity: 50%;
 }

 .hero-box h1 {
     font-size: 60px;
     font-family:var(--text-heading2);
     font-weight: 400;
 }

 .hero-box h1 span {
     color: #14aa00;
 }






 /* Product section styling */
 .product{
    padding: var(--secPadding);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
 }
 .product .cardbx {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 22px;
 }

 .product .card1 {
     margin-top: 30px;
 }

.product-card-box{
    width: 350px;
    backdrop-filter: blur(30px);
    overflow: hidden;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    transition: 0.3s all;
    padding: 12px;
    border-radius: 5px;
}

.product-card-box:hover{
    transform: translate(0px, -2px);
    box-shadow: -15px 15px 30px rgba(0, 0, 0, 0.5);
}

.product-card-img{
    width: 100%; 
    height: 300px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;

}

.product-card-img img{

    object-fit: fill; 
}

.product-card-text{
    margin-top: 20px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.product-card-text h4{
    font-size: 20px;
    font-family: var(--text-heading2);
}

.product-card-text p{
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis; 
    line-height: 1.5; 
    font-size: 13px;
}

.product-card-price {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}



/* Product Modal */

.modal-name{
    font-family: var(--text-heading2);
}

.modal-name span{
    color: var(--secondary-color);
    padding-left: 100px;
}
.p-modal{
    display: flex;
    padding: 0px 100px;
    gap: 30px;
    margin-top: 80px;
    align-items: center;
}
.p-modal-image{

}

.p-modal-text{
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.p-modal-text h1{
    font-family: var(--text-heading2);
}

.p-modal-text h4{
    color: var(--secondary-color);
    font-weight: 700;
}

.p-modal-text-price{
    display: flex;
    justify-content: space-between;
}
.p-modal-text-price h2{
    font-size: 40px;
    font-family: var(--text-heading);
}

.p-modal-text-price h2 span{
    color: var(--secondary-color);
    font-size: 30px;
}
.b1{
    display: flex; justify-content: space-between;
}
.a{
    width: 40px;
    height: 40px; 
    background-color: #14aa00;
}

.main-Button{
    background-color: #000000;
    width: 210px;
    color: var(--secondary-color);
    text-align: center;
    padding: 6px 0px;
    border: 2px solid black;
    font-weight: 800;
    font-family: var(--text-heading);
    border-radius: 4px;
    transition: all 0.5s ease;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.main-Button:hover{
    background-color: transparent;
}
.main-Button a{
    list-style: none;
    text-decoration: none;
    color: var(--secondary-color);
}
.main-small-button{
    background-color: #000000;
    min-width: 100px;
    color: var(--secondary-color);
    text-align: center;
    padding: 5px 0px;
    border: 2px solid black;
    font-weight: 800;
    font-family: var(--text-heading);
    border-radius: 3px;
    transition: all 0.5s ease;
    font-size: 13px;
    margin-top: 10px;
    cursor: pointer;
}

.main-small-button a{
    text-decoration: none;
    list-style: none;
    color: var(--secondary-color);
}

/* About container styling */
.about{
    padding: var(--secPadding);
    background-color: #000000;
    padding-bottom: 150px;
    clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 92%);
}
.about h1{
    border-bottom:3px solid #14aa00;
}
.about h2{
    font-family: var(--text-heading);

}
.text-left{
    color: #fff;
    
}

/* Gellary */
.gallery-top{
    padding: var(--secPadding);

}
.gallery-top .pic{
    padding: 0px 70px;
}

 /* App container styling */
 .App {
     text-align: center;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color: black;
     display: flex;
     flex-direction: row;
 }

 .App h1 {
     color: rgba(255, 255, 255, 0.61);
     padding-top: 6px;
     padding-left: 8px;
 }

 /* Services--------------------------  */

 .service{
    display: flex;
    flex-wrap: wrap;
    padding: var(--secPadding);
}

.service-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center; 
  }
  
  .card-box {
    background: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px; 
    width: 45%; 
    height: 200px; 
    position: relative;
    overflow: hidden; 
    transition: color 0.3s ease; 
    text-align: center; 
  }
  
  .card-box h2 {
    margin: 0 0 10px; 
    z-index: 100;
    position: absolute;
  }
  
  .card-box p {
    color: #666;
    z-index: 100; 
  }
  
  .card-box:hover {

  }
  
  .card-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; 
    height: 100%;
    width: 100%;
    background: #14aa004a; 
    transition: left 0.5s ease;
  }
  
  .card-box:hover::before {
    left: 0; 
  }
  




 

 /* MAP STYLING */
 .map {
     padding: 20px 0px;
     background-color:#15ff002d;
 }

 /* Footer styling */
 .footer { 
    font-family: none;
     background-color: #000000;
 }

 .fnav {
     display: flex;
     flex-direction: column;
 }

 .fnav  .navlink {
     font-weight: 400;
     margin-bottom: 3px;
     color: rgba(255, 255, 255, 0.794);
     transition: border-bottom 0.6s ease;
     border-bottom: 2px solid black;
     font-size: 15px;
     gap: 1;

     }
.fnav .contact .navlink{
    font-family: none;
}


 .fnav .navlink:hover {
    color: rgb(255, 255, 255);
    border-bottom: 2px solid white;
    
 }



  
 /* Media queries for responsiveness */
 @media (max-width: 986px) {
     .hero-box {
         text-align: center;
         height: 50vh;
     }

     .hero-box h1 {
         font-size: 42px;
     }

     .hero-box h1 span {
         color: #14aa00;
     }
     .footer{
        justify-content: center;
        align-items: center;

     }
     
     .fnav{
        justify-content: center;
        margin-bottom: 20px;

 
     }
     .fimg{
        text-align: center;
     }
     .modal-name span{
        color: var(--secondary-color);
        padding-left: 10px;
    }
     .p-modal{
        flex-wrap: wrap;
        padding: 0px 0px;
        margin-top: 20px;
     }
     .gallery-top .pic{
        padding: 0px 0px;
    }
    .navbar {
        padding: 6px 0;
        background-color: #000000b0;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(8px);
        top: 0;
        margin: 0px 0px;
        border-radius: 0px;
        height: auto;
    }
   
 }
 @media (max-width: 750px) {
    .hhero{
        background-image: url(../images/heromobile.jpg);  
         background-size:contain;
         background-attachment: fixed;
         animation: zoomInOut 12s infinite;
        
     }
    
     @keyframes zoomInOut {
        0% {
            background-size: 100%; 
        }
        50% {
            background-size: 120%; 
        }
        100% {
            background-size: 100%; 
        }
 }
 .hero-box{
    margin-top: 30px;

 }
 
}
 @media (max-width: 516px) {
     .fimg .imglog {
         width: 15rem;
         margin-bottom: 15px;
     }
   
    .hero-box {
        text-align: center;
        height: 50vh;
    }

    .hero-box h1 {
        font-size: 30px;
    }

    .hero-box h1 span {
        color: #14aa00;
    }

    .fnav .navlink {
        font-weight: 200;
        font-size: 12px;
    }

    .fimg .imglog {
        width: 14rem;
        margin-bottom: 15px;
    }
    .heading{
       color: var(--secondary-color);
       font-size: 25px;
       font-family: var(--text-heading);
       font-weight: 800;
       padding: 20px 0px;
}

.p-modal-text-price h2{
    font-size: 25px;
    font-family: var(--text-heading);
}

.p-modal-text-price h2 span{
    color: var(--secondary-color);
    font-size: 20px;
}
.main-Button{
    background-color: #000000;
    width: 150px;
    color: var(--secondary-color);
    text-align: center;
    padding: 8px 0px;
    border: 2px solid black;
    font-weight: 800;
    font-family: var(--text-heading);
    border-radius: 5px;
    transition: all 0.5s ease;
    font-size: 15px;
}
.M-Button{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

} @media (max-width: 490px){
    .product-card-box{
       width: 170px;
       padding: 2px;
       
   }
   .product-card-text{
    gap: 0px;
   }
   .product-card-text p{
       display: -webkit-box; 
       -webkit-line-clamp: 2; 
       -webkit-box-orient: vertical;
       overflow: hidden; 
       text-overflow: ellipsis; 
       line-height: 1; 

       font-size: 11px;
   }
   .product-card-img img{
       max-width: 400px;
       max-height: 500px;
       object-fit: fill; 
   }
   .product-card-img{
       width: 100%; 
       height: 150px; 
       display: flex;
       justify-content: space-between;
       align-items: center;
       overflow: hidden;
   
   }
  

   
 }


 